html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: none;
}

body {
  background: url('images/music.jpg') no-repeat center center;
  background-size: cover;
}

nav {
  background-color: #221C44;
  height: 52px;
  font-family: 'Roboto', sans-serif;
  color: #969DA2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  z-index: 2;
}

.controls {
  display: flex;
  align-items: center;
}

.rewind {
  margin-left: 28px;
  height: 16px;
}

.play {
  margin-left: 24px;
  height: 24px;
}

.play-icon:hover path, .rewind-icon:hover path, .pause-icon:hover rect {
  fill: #566574;
}

.pause-icon {
  display: none;
}

.social a {
  font-size: 24px;
  color: #A8B5C2;
  margin-left: 18px;
  cursor: none;
}

.social a:hover {
  color: #566574;
}

.finger {
  position: absolute;
  left: 35%;
  top: 45%;
  background: url('images/finger.png') no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 47px;
  z-index: 3;
  pointer-events: none;
}

.ripple-large, .ripple-small {
  position: relative;
  border-radius: 50%;
  background-color: rgba(33, 150, 243, 0.25);
  opacity: 1;
  transition: opacity 0.3s ease;
  animation-name: ripple;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.ripple-large {
  width: 34px;
  height: 34px;
  left: -6px;
  top: -6px;
  z-index: 1;
  animation-duration: 0.3s;
}

.ripple-small {
  width: 28px;
  height: 28px;
  left: -3px;
  top: -37px;
  z-index: 2;
  animation-duration: 0.2s;
  animation-delay: 0.1s;
}

.hidden {
  opacity: 0;
}

h1 {
  position: fixed;
  top: 0%;
  right: 14%;
  margin: 0;
  padding: 0;
  color: #1DB954;
  font-size: 64px;
  text-align: center;
}

.progress {
  position: fixed;
  right: 120px;
  bottom: 240px;
  height: 4px;
  display: block;
  width: 50%;
  background-color: rgb(189, 189, 189);
  border-radius: 2px;
  margin: 0;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: rgb(0, 188, 212);
  transition: width 0.3s linear 0ms;
  width: 0%;
}

#piano {
  position: fixed;
  right: 120px;
  bottom: 0;
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity: 0;
}

.up-note-group-1, .up-note-group-2, .up-note-group-3, .up-note-group-4 {
  position: absolute;
  top: 0;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 1;
}

.up-note-group-1, .up-note-group-3 {
  width: 11%;
}

.up-note-group-2, .up-note-group-4 {
  width: 18%;
}

.up-note-group-1 {
  left: 4.5%;
}

.up-note-group-2 {
  left: 24.2%;
}

.up-note-group-3 {
  left: 51.1%;
}

.up-note-group-4 {
  left: 70.9%;
}

.up-note, .bottom-note {
  display: table;
  height: 100%;
  perspective: 200px;
  user-select: none;
}

.up-note div, .bottom-note div {
  display: table-cell;
  text-align: center;
  transform-origin: top center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
}

.up-note:hover div, .bottom-note:hover div {
  transform: rotateX(-5deg);
}

.up-note {
  width: 30px;
  color: rgba(255, 255, 255, 1);
  line-height: 2;
}

.up-note div {
  background: rgba(0, 0, 0, 1);
  vertical-align: middle;
}

.up-note div span {
  vertical-align: super;
}

.bottom-note {
  flex: 1 1 auto;
}

.bottom-note div {
  background: rgba(255, 255, 255, 1);
  vertical-align: bottom;
  padding-bottom: 50px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 1);
}

@keyframes ripple {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@media (max-width: 1200px) {
  .finger {
    width: 28px;
    height: 38px;
  }

  h1 {
    font-size: 56px;
    top: 1%;
  }

  .up-note {
    width: 25px;
  }

  .up-note div, .bottom-note div {
    font-size: 14px;
  }

  .ripple-large {
    width: 26px;
    height: 26px;
    left: -2px;
    top: -6px;
  }

  .ripple-small {
    width: 22px;
    height: 22px;
    left: -0.5px;
    top: -30px;
  }
}

@media (max-width: 992px) {
  .finger {
    width: 21px;
    height: 31px;
  }

  h1 {
    font-size: 48px;
    top: 2%;
  }

  .up-note {
    width: 20px;
  }

  .up-note div, .bottom-note div {
    font-size: 12px;
  }

  .ripple-large {
    width: 22px;
    height: 22px;
    left: -3px;
    top: -5px;
  }

  .ripple-small {
    width: 16px;
    height: 16px;
    left: -0.5px;
    top: -24px;
  }
}

@media (max-width: 768px) {
  .finger {
    width: 16px;
    height: 23px;
  }

  h1 {
    font-size: 40px;
    top: 3%;
  }

  .up-note {
    width: 15px;
  }

  .up-note div, .bottom-note div {
    font-size: 10px;
  }

  .ripple-large {
    width: 18px;
    height: 18px;
    left: -3px;
    top: -5px;
  }

  .ripple-small {
    width: 12px;
    height: 12px;
    left: -0.5px;
    top: -20px;
  }
}

@media (max-width: 576px) {
  .finger {
    width: 11px;
    height: 15px;
  }

  h1 {
    font-size: 32px;
    top: 4%;
  }

  .up-note {
    width: 10px;
  }

  .up-note div, .bottom-note div {
    font-size: 8px;
  }

  .ripple-large {
    width: 14px;
    height: 14px;
    left: -3px;
    top: -6px;
  }

  .ripple-small {
    width: 10px;
    height: 10px;
    left: -1.5px;
    top: -18px;
  }
}
