html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: none;
}

body {
  background: url('images/music.jpg') no-repeat center center;
  background-size: cover;
}

.finger {
  position: absolute;
  left: 35%;
  top: 45%;
  background: url('images/finger.png') no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 47px;
  z-index: 1;
  pointer-events: none;
}

#piano {
  position: fixed;
  right: 120px;
  bottom: 60px;
  background: rgba(255, 255, 255, 1);
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.up-note-group-1 {
  position: absolute;
  top: 0;
  left: 4.5%;
  width: 11%;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.up-note-group-2 {
  position: absolute;
  top: 0;
  left: 24.2%;
  width: 18%;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.up-note-group-3 {
  position: absolute;
  top: 0;
  left: 51.1%;
  width: 11%;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.up-note-group-4 {
  position: absolute;
  top: 0;
  left: 70.9%;
  width: 18%;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.up-note {
  width: 30px;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-note {
  height: 100%;
  flex: 1 1 auto;
  border: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-note div {
  margin-bottom: 50px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .up-note {
    width: 25px;
  }

  .up-note div, .bottom-note div {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .finger {
    width: 21px;
    height: 31px;
  }

  .up-note {
    width: 20px;
  }

  .up-note div, .bottom-note div {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .finger {
    width: 16px;
    height: 23px;
  }

  .up-note {
    width: 15px;
  }

  .up-note div, .bottom-note div {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .finger {
    width: 11px;
    height: 15px;
  }

  .up-note {
    width: 10px;
  }

  .up-note div, .bottom-note div {
    font-size: 8px;
  }
}
